*,
body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
    background-color: #fff0f5;
    color: #333;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #323232;
}

button,
input[type="submit"] {
    background-color: #9e3d59;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover,
input[type="submit"]:hover {
    background-color: #7a2c45;
}

/* Media query for screens with a width of 375px or more */
@media (min-width: 375px) {

    header,
    footer {
        text-align: center;
        padding: 1em;
        background-color: #f8e8d8;
    }

    .response_container {
        max-width: 500px;
        margin: auto;
        background-color: white;
        border: 1px solid #ddd;
        border-radius: 5px;
        overflow: hidden;
        height: 80vh;
        /* Adjust the height as needed */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .response_content {
        flex-grow: 1;
        overflow-y: auto;
        padding: 10px;
        background-color: #eaeaea;
        border-bottom: 1px solid #ddd;
    }

    #userInput,
    #userInput_button {
        padding: 10px;
        border: none;
        border-top: 1px solid #ddd;
    }

    #userInput {
        flex-grow: 1;
        width: auto;
        /* Adjust width to fill the space */
    }

    #userInput_button {
        width: 80px;
        /* Adjust the width as needed */
    }

    #recipe-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .recipe {
        width: 300px;
        height: 200px;
        /* background-color: #a0a0a0; */
        /* or an image */
        border: 1px solid #ddd;
        border-radius: 10px;
        margin: 10px;
        /* Add more styles as needed */
    }

    /* ... recipe ... */

    .recipe-image-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
      }
      
      .recipe-image {
        width: 100%;
        height: auto;
        display: block;
        border-bottom: 1px solid #ddd;
      }
      
      .recipe-description {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white */
        color: #333; /* Text color */
        text-align: center;
        padding: 5px 0; /* Adjust as needed */
      }

    @media (min-width: 768px) {
        #recipe-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
        }
    }

}