*,
body {
    margin: 0;
    padding: 0;
    font-family: 'Verdana', sans-serif;
    /*background-color: #ebebeb;*/
    color: #333;
    box-sizing: border-box;
}
body{
    height: 100vh;
}

a {
    text-decoration: none;
    color: #323232;
}

button, input {
    border:none;
    background-color: #fff;
}



/* Media query for screens with a width of 375px or more */
@media (min-width: 375px) {

    header{
        text-align: center;
        padding: 15px;
        border-bottom: 1px black solid;
        font-size: 1.5em;
        font-weight: bold;
    }

    .response_container {
        min-width: 500px;
        margin: 0 100px;
        /*background-color: white;*/
        border-radius: 5px;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: auto;
    }
    #loading-label {
        position: fixed;
        left: 0;
        top: 40vh;
        height: 60vh;
        width: 100%;
        /*display: block;*/
        background-color: rgba(255, 255, 255, 0.5);
        display: flex;
        justify-content: center; /* Horizontal centering */
        align-items: center;
    }
    #loading-label>img {
        transform: translateY(-50px);
        height: 100px;
    }
    .response_content {
        flex-grow: 1;
        overflow-y: auto;
        padding: 10px;
        background-color: #eaeaea;
        border-bottom: 1px solid #ddd;
    }

    .user_input, .server_output {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .user_input_content, .server_output_content {
        background-color: #fff;
        /*height: 50px;*/
        max-width: 80%;
        border-radius: 20px 20px 20px 0;
        padding: 20px;
        margin: 10px 15px;
        text-align: left;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .user_input {
        align-items: flex-end;
    }

    .user_input_content {
        background-color: #229f22;
        text-align: right;
        color: white;
        border-radius: 20px 20px 0 20px;
    }

    footer {
        height: 10vh;
        background-color: rgb(255, 255, 255);
        display: flex;
        border-top: 1px black solid;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    footer:hover {
        cursor: pointer;
    }

    #userInput {
        display: inline-block;
        width: 60vw;
        height: 50px;
        max-height: 10vh;
    }

    #userInput:active {
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
        border-color: #888888;

    }

    #userInput_button {
        margin-left: 30px;
        display: inline-block;
        height: 100%;
    }
    #userInput_button:hover {
        cursor: pointer;
        color: #7a7a7a;
    }

    #recipe-container {
        display: flex;
        max-width: 1000px;
        flex-wrap: nowrap;
        height: 30vh;
        justify-content: space-around;
        margin: 20px auto 0;
    }

    .recipe {
        width: 300px;
        height: 80%;
        border: 1px solid #ddd;
        border-radius: 10px;
        margin: 10px;
        overflow: hidden;
    }

    /* ... recipe ... */
    .recipe-image-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .recipe-image {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        object-position: center;
    }

    .recipe-description {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40px;
        font-weight: bold;
        font-size: 12px;
        background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white */
        color: #333;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 10px;
    }

    @media (min-width: 768px) {
        #recipe-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
        }
    }

}